page-question {
    .title {
        background-color: orange;
        text-align: center;
        padding: 1.5em;
    }
    .question {
        display: block;
        margin-left: 1.5em;
    }
    .option {
        display: block;
        text-align: center;
        button {
            width: 100%;
            span {
                font-size: 0.8em;
            }
        }
    }
    .qBtn {
        display: block;
        text-align: center;
    }
}
