
<ion-header>
  <ion-title class="title">Quiz</ion-title>
</ion-header>


<ion-content padding>
  <p class="question">
    <ion-icon class="icon" name="text"></ion-icon>
    "{{ activeQuestion?.question }}"
  </p>

  <ion-list radio-group>
    <ion-item *ngFor="let option of activeQuestion?.options; let i=index">
        <ion-label class="option">
          <button ion-button color="dark" [disabled]="disableButton" (click)="checkOption(i, activeQuestion)">
            {{option}}
          </button>
        </ion-label>
    </ion-item>
  </ion-list>
  
  <div class="qBtn" *ngIf="disableButton && !allQuestionsAsked">
      <ion-label>{{feedback}}</ion-label>
    <button ion-button color="dark" (click)="setQuestion()">Next question</button>
  </div>
  <div class="qBtn" *ngIf="allQuestionsAsked">
      <ion-label>{{feedback}}</ion-label>
    <button ion-button color="dark" (click)="seeSummary()">Summary</button>
  </div>
</ion-content>
