page-home {
    .title {
        background-color: orange;
        text-align: center;
        padding: 1.5em;
    }
    .content {
        margin-top: 1em;
        display: block;
        text-align: center;
        button {
            margin-top: 1em;
        }
        img {
            display: block;
            margin: 0 auto;
            margin-top: 2em;
            width: 50%;
            height: auto;
        }
    }
}
