page-summary {
    .title {
        background-color: orange;
        text-align: center;
        padding: 1.5em;
    }
    .content {
        display: block;
        text-align: center;
    }
    .correctnessImg{    
        width: 12em;
        height: 12em;
        display: block;
        margin: 0 auto;
    }
}
